section.about-us.scrollify
  ul.about-us-facts
    li.about-us-item
      h3.about-us-title Some facts
      p.about-us-subtitle about us
    li.about-us-item
      span#odometer.counter.odometer(data-count='20') 0
      | Employees
    li.about-us-item
      span#odometer.counter.odometer(data-count='9') 0
      | Pinball Machines in our office
    li.about-us-item
      span#odometer.counter.odometer(data-count='104') 0
      | Years of collective experience amongst us
    li.about-us-item
      span#odometer.counter.odometer(data-count='235') 0
      | The average employee age in dog years
  ul.team
    li.team-item
      img.team-item_before(src='./images/team/team-1.jpg' alt='')
      img.team-item_after(src='./images/team/team-1.2.jpg' alt='')
      .team-desc
        h3.team-title Simon Leibovich
        h3.team-subtitle President
    li.team-item
      img.team-item_before(src='./images/team/team-2.jpg' alt='')
      img.team-item_after(src='./images/team/team-2.2.jpg' alt='')
      .team-desc
        h3.team-title Holly Waxman
        h3.team-subtitle Content Marketing Specialist
    li.team-item
      img.team-item_before(src='./images/team/team-3.jpg' alt='')
      img.team-item_after(src='./images/team/team-3.2.jpg' alt='')
      .team-desc
        h3.team-title Eric Stein
        h3.team-subtitle VP
    li.team-item
      img.team-item_before(src='./images/team/team-4.jpg' alt='')
      img.team-item_after(src='./images/team/team-4.2.jpg' alt='')
      .team-desc
        h3.team-title Ani Lagos
        h3.team-subtitle Senior UI/UX
    li.team-item
      img.team-item_before(src='./images/team/team-5.jpg' alt='')
      img.team-item_after(src='./images/team/team-5.2.jpg' alt='')
      .team-desc
        h3.team-title Jeff Schrimmer
        h3.team-subtitle CEO
    li.team-item
      img.team-item_before(src='./images/team/team-6.jpg' alt='')
      img.team-item_after(src='./images/team/team-6.2.jpg' alt='')
      .team-desc
        h3.team-title Francesca Zelasko
        h3.team-subtitle Email Marketing Manager
    li.team-item
      img.team-item_before(src='./images/team/team-7.jpg' alt='')
      img.team-item_after(src='./images/team/team-7.2.jpg' alt='')
      .team-desc
        h3.team-title Phil Bednar
        h3.team-subtitle Senior Video Editor
    li.team-item
      img.team-item_before(src='./images/team/team-8.jpg' alt='')
      img.team-item_after(src='./images/team/team-8.2.jpg' alt='')
      .team-desc
        h3.team-title Tanya Filosina
        h3.team-subtitle Front-End Developer
    li.team-item
      img.team-item_before(src='./images/team/team-9.jpg' alt='')
      img.team-item_after(src='./images/team/team-9.2.jpg' alt='')
      .team-desc
        h3.team-title Sergey Yarmolich
        h3.team-subtitle Lead Developer
    li.team-item
      img.team-item_before(src='./images/team/team-10.jpg' alt='')
      img.team-item_after(src='./images/team/team-10.2.jpg' alt='')
      .team-desc
        h3.team-title Lucas Marshall
        h3.team-subtitle Copywriter
    li.team-item
      img.team-item_before(src='./images/team/team-11.jpg' alt='')
      img.team-item_after(src='./images/team/team-11.2.jpg' alt='')
      .team-desc
        h3.team-title Olga Ivanchenko
        h3.team-subtitle Graphic Designer/ Photographer
    li.team-item
      img.team-item_before(src='./images/team/team-12.jpg' alt='')
      img.team-item_after(src='./images/team/team-12.2.jpg' alt='')
      .team-desc
        h3.team-title Ron Ballok
        h3.team-subtitle Visual Artist
    li.team-item
      img.team-item_before(src='./images/team/team-13.jpg' alt='')
      img.team-item_after(src='./images/team/team-13.2.jpg' alt='')
      .team-desc
        h3.team-title Elena Senyutich
        h3.team-subtitle Front-End Developer
    li.team-item
      img.team-item_before(src='./images/team/team-14.jpg' alt='')
      img.team-item_after(src='./images/team/team-14.2.jpg' alt='')
      .team-desc
        h3.team-title Gymeung Bang
        h3.team-subtitle Graphic Designer
    li.team-item
      img.team-item_before(src='./images/team/team-15.jpg' alt='')
      img.team-item_after(src='./images/team/team-15.2.jpg' alt='')
      .team-desc
        h3.team-title Nabeel Shaukat
        h3.team-subtitle Senior Marketplace Manager
    li.team-item
      img.team-item_before(src='./images/team/team-16.jpg' alt='')
      img.team-item_after(src='./images/team/team-16.2.jpg' alt='')
      .team-desc
        h3.team-title Shar Shaukat
        h3.team-subtitle Marketplace Manager
    li.team-item
      img.team-item_before(src='./images/team/team-17.jpg' alt='')
      img.team-item_after(src='./images/team/team-17.2.jpg' alt='')
      .team-desc
        h3.team-title Steve Karras
        h3.team-subtitle Sales Associate
    li.team-item
      img.team-item_before(src='./images/team/you.svg' alt='')
      img.team-item_after(src='./images/team/you.svg' alt='')
      .team-desc
        h3.team-title You!
