footer.footer.scrollify
  section.footer-nav
    img.footer-logo(src='./images/logo.png' alt='footer-logo')
    ul.footer-nav-list
      li.footer-nav-item.active
        a(href='') Home
      li.footer-nav-item
        a(href='') What we do
      li.footer-nav-item
        a(href='') Charity work
      li.footer-nav-item
        a(href='') Careers
      li.footer-nav-item
        a(href='') Blog
      li.footer-nav-item
        a(href='') Contact
    img.footer-google(src='./images/google.png' alt='footer-google')
  section.footer-info
    .footer-contacts
      a.footer-map-link(href='https://www.google.com/maps/place/Elevate+Creative+Group/@42.2311705,-87.9495826,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x5e20508eec3c52f9!8m2!3d42.2311705!4d-87.9473939?hl=en&authuser=3' target='_blank')
        | 300 Lakeview Pkwy,
        br
        | Vernon Hills, IL 60061
      a(href='tel:8479960860') (847) 996-0860
    .footer-social
      ul.footer-social-list
        li.footer-social-list-item
          a(href='https://www.facebook.com/elevatecreativegroup' target='_blank')
            i.fa.fa-facebook-official
        li.footer-social-list-item
          a(href='https://twitter.com/elevatechicago' target='_blank')
            i.fa.fa-twitter
        li.footer-social-list-item
          a(href='https://www.instagram.com/elevatecreativegroup' target='_blank')
            i.fa.fa-instagram
        li.footer-social-list-item
          a(href='https://www.linkedin.com/company/elevate-creative-group' target='_blank')
            i.fa.fa-linkedin-square
        li.footer-social-list-item
          a(href='https://vimeo.com/elevatecreativegroup' target='_blank')
            i.fa.fa-vimeo
        li.footer-social-list-item
          a(href='https://www.youtube.com/channel/UCkpf9pY1PhOj4mphCmzX8nA' target='_blank')
            i.fa.fa-youtube-play
      p.footer-copyright
        | &copy; 2018 Elevate Creative Group.
        br
        | All rights reserved.
    .footer-links
      a(href='https://elevatecg.com/terms/' target='_blank') Terms
      a(href='https://elevatecg.com/privacy-policy/' target='_blank') Privacy Policy
