section.homepage-main.scrollify
  header.header
    a.header-logo(href='./')
      img(src='./images/logo.png' alt='header logo')
    ul.header-nav
      li.header-nav-item
        a(href='') What we do
      li.header-nav-item
        a(href='') Charity work
      li.header-nav-item
        a(href='') Careers
      li.header-nav-item
        a(href='') Blog
      li.header-nav-item.active
        a(href='') Get started
    i.mobile-nav-icon
  section.homepage-main-centered-text
    h3.header-title.header-title_dynamic
      | Hi. We are
      .header-typed-wrapper
        span.header-typed-el
      | .
    h1.header-title We&rsquo;re a badass Chicago-based boutique digital marketing agency.
  i.header-scroll-arrow
