section.portfolio.scrollify
  h3.portfolio-title.section-title Portfolio
  ul.portfolio-list
    li.portfolio-item
      a(href='')
        .project-text
          h3.project-title Procon Pacific
          p.project-desc Web Development &amp; Design
    li.portfolio-item
      a(href='')
        .project-text
          h3.project-title Kim Scodro
          p.project-desc Web Development &amp; Design
    li.portfolio-item
      a(href='')
        .project-text
          h3.project-title MVP Staffing Agency
          p.project-desc Web Development &amp; Design
    li.portfolio-item
      a(href='')
        .project-text
          h3.project-title Elevate Creative Group - Live Action Reel
          p.project-desc Visual Effects
    li.portfolio-item
      a(href='')
        .project-text
          h3.project-title Transformers Pinball
          p.project-desc Visual Effects
    li.portfolio-item
      a(href='')
        .project-text
          h3.project-title Walgreens Juggler
          p.project-desc Video Marketing
