section.services.scrollify
  h3.services-title.section-title Services
  p.services-subtitle.section-subtitle
    | From non-profits to Fortune 100&rsquo;s, from NY to LA, we exist to elevate your business.
  ul.services-list
    li.services-item
      h3.services-item-title Development
      p.services-item-text
        | Development is decisive and results are absolute. Responsive websites and web &amp; mobile apps are just the start. Content management systems and customer relationship management are just as vital as marketing automation and e-commerce, and we have secure solutions tailored for your business and aligned with your goals.
    li.services-item
      h3.services-item-title Design
      p.services-item-text
        | The most minuscule design decisions can have the most major impacts, from your reputation to your revenue. We design it all and we do it well, starting with creative direction &amp; design to branding, through UI/UX, graphic and interface design, right down to the mobile app in your customer&rsquo;s hand to the pretty lil packaging waiting at their door.
    li.services-item
      h3.services-item-title Customer Experience
      p.services-item-text
        | Exceeding expectations comes easily to us, and none quite as important as the experience of your customers. Our marketing maniacs make it all happen, whether dominating digital everything (display, paid search, affiliate, email), crushing content creation &amp; marketing, or soaring social to new heights. Did we mention we slay at SEO? Your whole world will feel optimized after we&rsquo;re done.
    li.services-item
      h3.services-item-title Data &amp; Strategy
      p.services-item-text
        | Here&rsquo;s where we really get our nerd on and shine. The devil is in the details, the proof is in the pudding, and other clich&eacute;s. But seriously, data doesn&rsquo;t lie. We love insights &amp; intelligence and geek out analyzing it all to create solid strategies, from your brand to your content to e-commerce sales. Analytical analysis &amp; reporting is a fun Friday night for us.
