section.social.scrollify
  ul.social-list
    li.social-list-item
      a(href='https://www.facebook.com/elevatecreativegroup' target='_blank')
        i.fa.fa-facebook-official
    li.social-list-item
      a(href='https://twitter.com/elevatechicago' target='_blank')
        i.fa.fa-twitter
    li.social-list-item
      a(href='https://www.instagram.com/elevatecreativegroup' target='_blank')
        i.fa.fa-instagram
    li.social-list-item
      a(href='https://www.linkedin.com/company/elevate-creative-group' target='_blank')
        i.fa.fa-linkedin-square
    li.social-list-item
      a(href='https://vimeo.com/elevatecreativegroup' target='_blank')
        i.fa.fa-vimeo
    li.social-list-item
      a(href='https://www.youtube.com/channel/UCkpf9pY1PhOj4mphCmzX8nA' target='_blank')
        i.fa.fa-youtube-play
