.footer-nav
  padding: $global-padding
  background-color: $gray
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

.footer-info
  padding: $global-padding
  background-color: $dark-gray
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
